extends layout


block link
  link(rel= 'stylesheet', href='/stylesheets/calendar.css')

block scripts
  script(src='/javascripts/calendar.js')
  script(src='/javascripts/index.js')

block content
  
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td Blah
            td Test
          tr
            td Hello
            td World
    
      
