body,html
  padding: 10px
  background: #ccc
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
a
  color: #00B7FF
 
.panel-heading-task
  padding: 7px;
  border: 3 outset;
  //background: #eee;
  
.panel-body-task
  padding 15px;

.gradiente-gray
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);

.brand
  padding-top: 5px;
  .title
    color: #999;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 1px #FFF;

.navbar
  background-color: rgba(220,220,220,0.5);
  box-shadow: none;
  
#myModal
  background-color: #FFFFFF;