extends ../layout

block links
    link(rel='stylesheet', href='/stylesheets/notes/new.css')

block scripts
  script(src='/javascripts/maskinput.js')
  script(src='/javascripts/notes/new.js')

block content
  div.container
    div.row
      div.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
        div.panel.panel-default
          div.panel-heading
            div.row
              div.col-lg-9.col-md-9.col-sm-9.col-xs-9
                h3.panel-title(id='title-note') Title:
                input.input-format-note(id='input-title-note' type='text' maxlength='150' placeholder='Title:' style= 'display: none; width: 650px')
              div.col-lg-3.col-md-3.col-sm-3.col-xs-3
                h3.panel-title(id='date-note') Date: mm/dd/yyyy
                input.input-format-note(id='input-date-note' type='text' placeholder='Date: dd/mm/yy' style= 'display: none')
          div.panel-body
            textarea.form-control(id='txta-body-note' row=8 style='height: 150px' placeholder='Body Note')
          
          div.gradiente-gray.panel-heading-task
            h3.panel-title Tasks
          
          .row.task-container(style= 'padding: 10px')
            -for(var a=0; a<4 ; a++)
              .col-lg-4.col-md-6.col-sm-6.col-xs-12.panel-task
                div.panel.panel-success
                  div.panel-heading
                    .row
                      .col-lg-9.col-md-9.col-sm-9.col-xs-9.title-task-row
                        h3.panel-title Title:
                        input.input-format-note.task-input-title(type='text' maxlength='50' placeholder='Title:' style= 'display: none; width: 200px')
                      .div-task-date.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-lg-1.col-md-1.col-sm-1.col-xs-1
                        a.btn.btn-fa-task.btn-close-task( data-toggle='toltip' title='close')
                          span.fa.fa-close.fa-lg
                    .row(style= 'padding: 5px')
                      .col-lg-offset-5.col-lg-7.date-task-row
                        h3.panel-title Date: mm/dd/yyyy
                        input.input-format-note.task-input-date(id= 'input-task-date' type='text' placeholder='Date: dd/mm/yy' style= 'display: none')
                  div.panel-body
                    textarea.form-control.task-area-body(row=8 style='height: 100px' placeholder='Body task')
          .row
            .col-lg-offset-6.col-md-offset-6.col-sm-offset-6.col-xs-offset-6.col-lg-1.col-md-1.col-sm-1.col-xs-2.controler-task
              a.btn(data-toggle= 'tooltip' title= 'add Task')
                span.fa.fa-plus-circle.fa-2x


          div.panel-footer.clearfix
            div.pull-right.btn-toolbar
              a.btn.btn-primary(id='save-note' data-toggle='tooltip' data-placement='bottom' title='save' href='/login') 
                i.fa.fa-save.fa-md
              a.btn.btn-danger(id='cancel-note' data-toggle='tooltip' data-placement='bottom' title='cancel' href='#') 
                span.fa.fa-trash-o.fa-md