
.panel-task
  height: 235px;

.btn-fa-task
  padding: 0;

.date-task-row
  margin-left: 1px;
  margin-top: 10px;

.task-input-transp
  border-top: 0px;
  border-right: 0px;
  background: transparent;
  border-left: 0px;
  
.panel-heading-task
  margin: 5px
  
/*.title-task-row
  margin: 2px;
  border-radius: 5px 5px 5px 0px;
  border: 2px solid;*/


  