
<!-- Mostrar mensajes flash  -->
-for(var i in messages)
  div.flash= messages[i]

<!-- Renderizar el formulario signup  -->
form(action="/signup" method="post")
  div
    label Nombre:
    input(type="text" name="firstName") 
  
  div
    label Apellido:
    input(type="text" name="lastName") 
  
  div
    label Email:
    input(type="text" name="email") 
  
  div
    label Nombre Usuario:
    input(type="text" name="username") 
  
  div
    label Contraseña:
    input(type="password" name="password") 
  
  div
    input(type="submit" value="Crear Cuenta") 

a(href="/oauth/google") Registrarse usando Google